<?xml version="1.0"?>
<launch>

<arg name="scan_topic" default="scan" />
<arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>


	<!-- Laser Pipeline -->
	<node type="laser_scan_assembler" pkg="laser_assembler" name="lms1xx_assembler">
		<!--<remap from="scan" to="/seekurjr/scan"/>-->
		<param name="max_scans" type="int" value="400" />
		<param name="fixed_frame" type="string" value="/base_link" />
		
		<param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
	</node>

	<!-- Point cloud publisher -->
	<node name="periodic_snapshotter" pkg="laser_assembler" type="periodic_snapshotter" respawn="false" output="screen">
	
		<param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
	</node>

</launch>
