<?xml version="1.0"?>

<launch>

   <arg name="model" default="$(find seekurjr_gazebo)/urdf/seekurjr.xacro.xml"/>
   <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
   <arg name="name" default="seekurjr"/>

   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.2"/>

	<!-- Convert xacro and put on parameter server -->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />
   <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

	<!-- Spawn a robot into Gazebo -->
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-param robot_description
		-robot_namespace $(arg tf_prefix)
		-urdf
		-x $(arg x)
		-y $(arg y)
		-z $(arg z)
		-model $(arg name)"
	respawn="false" output="screen"/>

	<node name="seekurjr_joint_state_publisher" pkg="seekurjr_joint_state_publisher" type="seekurjr_joint_state_publisher">
		<!--<remap from="robot_description" to="seekurjr_description" />-->
		<param name="queue_size" type="int" value="100" />
		<param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
	</node>

   <!-- start robot state publisher -->

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
     <!--<remap from="robot_description" to="seekurjr_description" />-->
     <param name="publish_frequency" type="double" value="50.0" />
     <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
   </node>

	   <!--
	   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find seekurjr_gazebo)/urdf.rviz" required="true" />
	   -->

</launch>


